body {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    margin: 0;
}
h1 {
    text-align: center;
}
* {
    box-sizing: border-box;
}
.menu {
    padding-top:3em;
}
.menu, .game, .login {
    opacity: 1;
    transition: opacity 350ms;
}
.fade {
    opacity: 0;
}
.menu, .login {
    max-width: 100%;
    width: max-content;
    margin: auto;
}
.brick {
    width: 40px;
    height: 110px;
    background: green;
    display: inline-block;
    border-radius: 6px;
}
.brick-row {
    width: max-content;
    margin: auto;
}
.brick.taken {
    background: maroon;
    transition: all 250ms;
}
.brick.taken.currentturn {
    background: red;
    transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scale(0.85);
}
.finish-turn,button, input[type=text] {
    background: gray;
    border: none;
    color: lightgray;
    padding: 0.75em;
    width: max-content;
    margin: auto;
    cursor: default;
    border-radius: 6px;
    transition: all 150ms;
}
button,.finish-turn.available, input[type=text] {
    color: white;
    background: purple;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.363);
}
input[type=text] {
    background: rgb(141, 64, 141);
    padding-left: 0;
    text-indent: 0.75em;
    cursor: text;
}
input[type=text]::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
button, input[type=text]{outline: none;}
.game {
    display: none;
    height: 427.19px;
    position: relative;
    top: 50vh;
    position: relative;
    left: 0;
    transform: translateY(-50%) translateY(-3.5em);
}
.gameframe {
    transition: all 150ms;
}
.game.finished .gameframe {
    filter: blur(4px);
}
.status {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1em;
}
.status.fadeinout {
    animation: fadeinout 500ms;
}

@keyframes fadeinout {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.game.finished .win-text {
    opacity: 1;
}

.win-text {
    opacity: 0;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5em;
    color:black;
    font-weight: bold;
    text-shadow: 0 0 6px white;

    transition: all 150ms;
}

.container {
    height: 100%;
    width: 100%;
}

.connect-status {
    text-align: center;
    padding-top: 1em;
    font-weight: bold;
}